<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" style="color: white" href="/">SmartTransport</a>  
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
               <li><a class="navbar-brand" style="color: white" href="/Durak">Durak</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Hat">Hat</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Kullanici">Kullanıcı</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Tasit">Taşıt</a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid" style="height: 125px; text-align: center">
        <h2>Taşıt Yeni Kayıt</h2>

    </div>
<form action="/Tasit/Create/Submit" method="post"><input name="__RequestVerificationToken" type="hidden" value="gmIloq5SPrCyh9LzKMLaQHHTShNA2or9vVdOIOi8SzKR-kyjeA7Yh2SaiCbIBgSP420ecikn_qMfDokh2_QjNjTsR2FHwhMvV3W64BX2Qbo1" />            <div class="form-horizontal">
                <br>                
                <div class="form-group">
                    <label class="control-label col-md-2" for="Ta__tID">TaşıtID</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" data-val="true" data-val-number="The field TaşıtID must be a number." data-val-required="TaşıtID alanı gereklidir." id="TaşıtID" name="TaşıtID" type="number" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="TaşıtID" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Ta__tAd_">TaşıtAdı</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="TaşıtAdı" name="TaşıtAdı" type="text" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="TaşıtAdı" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="Ta__tT_r_">TaşıtT&#252;r&#252;</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="TaşıtTürü" name="TaşıtTürü" type="text" value="" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="TaşıtTürü" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>
        <div>
            <a href="/Tasit">Listeye dön</a>
        </div>

</body>
</html>
