<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-fixed-top" style="border-radius: 0px; background-color:#4267B2;  ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color: white" href="/">SmartTransport</a>
            </div>
            <ul class="nav navbar-nav">
          <li><a class="navbar-brand" style="color: white" href="/">Anasayfa</a></li>
                <li><a class="navbar-brand" style="color: white" href="/About">Hakkında</a></li>
                <li><a class="navbar-brand" style="color: white" href="/Contact">İletişim</a></li>
                <li><a class="navbar-brand" style="color: white" href="/SSS">SSS</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
<li data-toggle="modal" data-target="#uyegiris"><a style="color:white"><span class="glyphicon glyphicon-user"></span> Yönetici Girişi</a></li>            </ul>
        </div>
    </nav>
    <br>
<br>


    <h2 style="text-align: center">Sık Sorulan Sorular</h2>

<div id="accordion">
    <BR>
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                İZMİRİM KART NEDİR?
            </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
                İzmirim Kart “şehir kartı projesi” kapsamında İzmir Büyükşehir Belediyesi’nin toplu ulaşım başta olmak üzere pek çok hizmetini bünyesinde toplayan bir ödeme kartıdır.

                <p> İzmirim Kartla metro ve banliyö istasyonları, vapur iskeleleri turnikelerinden geçişlerde ve tüm otobüslere binişlerde geçerli olmak üzere; ilk binişi takiben 90 dk. içerisinde olan metro, vapur, banliyö ya da otobüslere yapılacak olan ikinci ve sonraki binişler biniş fiyatına dahildir. (B-D-F-G tarifelerinde aktarma hakkı yoktur.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                İZMİRİM KARTI NASIL ALABİLİRİM?
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                İzmirim Kartınızı, şehirdeki tüm satış noktaları ve dolum gişelerinden temin edebilirsiniz.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                İZMİRİM KARTIMI NERELERDE KULLANABİLİRİM?
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Toplu Ulaşım Araçları (otobüs, metro, banliyö ve vapur)
                <br> Otoparklar (İzmir Büyükşehir Belediyesi tarafından işletilen)<br>
                Bisim (Bisiklet kiralamak için üye olunması gerekmektedir)
                <br>Teleferik<br>
                İzmir Doğal Yaşam Parkı
                <br>Aşık Veysel Rekreasyon Alanı<br>
                Buz Pisti
                <br>Akıllı Tuvaletler<br>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                90 DK AKTARMALI ULAŞIM UYGULAMASI DEVAM EDECEK Mİ?
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Evet.İzmirim Kartla metro ve banliyö istasyonları, vapur iskeleleri turnikelerinden geçişlerde ve tüm otobüslere binişlerde geçerli olmak üzere; ilk binişi takiben 90 dk. içerisinde olan metro, vapur, banliyö ya da otobüslere yapılacak olan ikinci ve sonraki binişler biniş fiyatına dahildir. (B-D-F-G tarifelerinde aktarma hakkı yoktur.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                İNTERNETTEN TL YÜKLEMESİ NASIL GERÇEKLEŞİR?
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body">
                izmirimkart.com.tr üzerinden TL yükleme işlemi başarılı bir şekilde tamamlandığında, karta ait yükleme kaydı sahadaki validatörlere gönderilir. Sahadaki cihazların tamamının ilgili kaydı alması GSM bağlantı durumuna göre 1 saati bulabilir. Kart biniş sırasında validatör cihazına gösterildiğinde ilk olarak tanımlı yükleme işlemi gerçekleştirilir. Yükleme işleminin ardından kullanılan hizmete ait normal biniş ücreti karttan tahsil edilir.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                ÖĞRENCİ ÖĞRETMEN KART İNDİRİMLERİ NERELERDE GEÇERLİ OLACAK?
            </a>
        </div>
        <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Öğrenci Öğretmen Kart İndirimleri sadece ulaşımda geçerlidir.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                AKILLI KARTIM, ARIZALI ÇALIŞMIYOR NE YAPMALIYIM?
            </a>
        </div>
        <div id="collapseSeven" class="collapse" data-parent="#accordion">
            <div class="card-body">
                Nüfus cüzdanı ve arızalı İzmirim Kart ile beraber Konak çok katlı otopark altındaki belediye pasajında yer alan Kart Değişim Bürosuna başvurabilirsiniz.
                <br>Fiziki hasarlar dışında arızalanan İzmirim Kartlar ilk dolum tarihinden itibaren 2 (iki) yıl süre ile ücretsiz olarak değiştirilmektedir. İzmirim Kartların son değişim tarihleri ilk dolum belgesinde yazılmaktadır.<br>
            </div>
        </div>
    </div>

</div>

   <form action="/YoneticiPaneli/Submit" method="post">
<div   class="modal fade" id="uyegiris" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div  class="modal-dialog" role="document">
                <div class="modal-content">
                    <div style="color: #4267b2 !important" class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Yönetici Girişi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                      

                    </div>
                    <div  style="color: #4267b2"class="modal-body">
                        <form action="../Home/giris.html" method="POST">
                            <label>Email:</label>
                             <input class="form-control text-box single-line" id="email" name="email" type="text" placeholder="Email" >


                            <label>Şifre:</label>
                           <input class="form-control text-box single-line" name="şifre" type="text" value=""  placeholder="Şifre"/>


                            <br>
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</form>


    
</body>
</html>


