
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">           
                <a class="navbar-brand" style="color: white" href="/">SmartTransport</a>             
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
               
                    <li><a class="navbar-brand" style="color: white" href="/Durak">Durak</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Hat">Hat</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Kullanici">Kullanıcı</a></li>
                    <li><a class="navbar-brand" style="color: white" href="/Tasit">Taşıt</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron justify-content-center">
        <h1 style="text-align: center">Yönetici Paneli</h1>
        <p class="lead" style="text-align: center">
            Buradan  yukarıdaki toolbarı kullanarak veritabanındaki bilgilere ulaşabilir,ekleyebilir,düzenleyebilir ve silebilirsiniz.
        </p>

    </div>

    <div class="row" style="text-align: center">
        <div class="col-md-4">
            <h2>Durak</h2>
            <p>
                Bu kısım toplu taşıma araçlarının duraklarının saklanıldığı kısımdır.
            </p>
            <hr/>
        </div>
        <div class="col-md-4">
            <h2>Hat</h2>
            <p>Burada taşıtların geçtiği durakların bilgilerininin saklanıldığı kısımdır</p>
            <hr/>
        </div>
        <div class="col-md-4">
            <h2>Kullanıcı</h2>
            <p>Burada Kullanıcıların bilgilerininin saklanıldığı kısımdır </p>
            <hr />
        </div>
        <div class="col-md-4">
            <h2>Taşıt</h2>
            <p>Burada taşıtların bilgilerininin saklanıldığı kısımdır</p>
            <hr />
        </div>
    </div>
</body>
</html>
